:root {
	--primaryColor: #9b9a99;
	--secondaryColor: #E85A4F;
	--tertiaryColor: #A7C0CD;

    --backgroundColor: rgb(228, 228, 228);
}

.taskCard {
    height: 300px;
    width: 300px;
    background-color: var(--tertiaryColor);
    color: rgb(70, 70, 70);
    margin: 1em;
    box-shadow: 5px 5px 20px rgb(34, 34, 34);
    position: relative;
    display: flex;
	flex-direction: column;
    border-radius: 20px;
}


/*TITLE*/
.titleContainer {
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor);
    flex: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title {
    width: 90%;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    border: 0px;
    outline: none;
    font-size: 2em;
    position: absolute;
    top: 0px;
    padding-left: 20px;
    border-radius: 20px;
}

.removeCard {
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 20px;
    color: var(--secondaryColor);
}

.removeCard:hover {
    cursor: pointer;
}


/*BODY*/
.body {
    height: 100%;
    width: 100%;
    flex: 6;
}


/*TASKS*/
.task {
    list-style: none;
    padding-left: .5em;
    display: flex;
}

.task:hover > .checkbox {
    visibility: visible;
}

.taskDescription {
    padding-left: .5em;
}

.checkbox {
    visibility: hidden;
}